<div class="div-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-name">{{appTitle}}</h1>
    <button mat-fab color="accent" (click)="openDialogLogin()" class="login" *ngIf="!patinhas.logged()">Login</button>
    <div class="login" *ngIf="patinhas.logged()">
      <button mat-fab color="primary" (click)="openDialogPerfil()">Perfil</button>
      <button mat-fab color="warn" (click)="logout()">Logout</button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGrap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="/" (click)="snav.toggle()"><mat-icon>home</mat-icon> Ínicio</a>
        <a mat-list-item routerLink="/doacao" (click)="snav.toggle()"><mat-icon>attach_money</mat-icon> Doação</a>
        <a mat-list-item routerLink="/adocao" (click)="snav.toggle()"><mat-icon>pets</mat-icon> Adotar</a>
        <a mat-list-item routerLink="/reserva" (click)="snav.toggle()" *ngIf="patinhas.logged()"><mat-icon>hotel</mat-icon> Reserva Hotel</a>
        <a mat-list-item routerLint="/" (click)="snav.toggle()" *ngIf="patinhas.isAdmin()">Teste Admin</a>
        <!--<a mat-list-item routerLink="/loja" (click)="snav.toggle()" *ngIf="patinhas.logged"><mat-icon>pets</mat-icon> Loja Cantinho das Patinhas</a>-->
        <a mat-list-item routerLink="/about" (click)="snav.toggle()"><mat-icon>person</mat-icon> Sobre</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-progress-bar mode="query" *ngIf="patinhas.executeBar"></mat-progress-bar>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
