<div class="container">
  <div class="row">
    <mat-progress-bar color="primary" *ngIf="execSpinner"></mat-progress-bar>
  </div>
  <div class="row">
    <button mat-button (click)="fechar()">Fechar</button>
  </div>
  <div class="row">
    <mat-list *ngFor="let adotante of adotantes">
      <mat-list-item>
        <h2 matLine>{{adotante.nome}}</h2>
        <p matLine *ngIf="adotante.estado === 0">Estado solicitação: Enviado</p>
        <p matLine *ngIf="adotante.estado === 1">Estado solicitação: Finalizado</p>
        <p matLine *ngIf="adotante.estado === 2">Estado solicitação: Cancelado</p>
        <p matLine>
          <button mat-fab color="primary" (click)="confirmarAdocao(adotante)">Confirmar</button>
          <button mat-fab color="accent" (click)="detalhes(adotante)">Detalhes</button>
          <button mat-fab color="warn" (click)="cancelar(adotante)">Cancelar</button>
        </p>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
</div>