<div class="container">
  <div class="row">
    <ngb-carousel>
      <ng-template *ngFor="let capa of capas" ngbSlide>
        <a routerLink="{{capa.link}}">
          <img class="imgCapa" src="{{capa.path}}" alt="" />
        </a>
        <div class="carousel-caption">
          <h3>{{capa.titulo}}</h3>
          <p>{{capa.descricao}}</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <hr />
  <div class="row">
    <h2>Membros da Ong</h2>
  </div>
  <div class="row">
    <div class="col-12 col-md-4" *ngFor="let membro of membros">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{membro.nome}}</mat-card-title>
        </mat-card-header>
        <img src="{{membro.pathFoto}}" alt="{{membro.nome}}}" class="imgMembro"/>
      </mat-card>
    </div>
  </div>
</div>