<div class="container">
  <div class="row"><h2>Faça sua doação</h2></div>
  <div class="row">
    <div class="col-12 col-md-3">
      <img src="../../assets/img/docao/doacao.jpg" />
    </div>
    <div class="col-12 col-md-9">
      <div class="row"><h4 class="subtitulo">Caso deseja fazer um deposito</h4></div>
      <div class="row">
        <ul class="list-unstyled">
          <li>Angela J. C. Bandeira</li>
          <li>CPF: 032.354.738-90</li>
        </ul>
      </div>
      <div class="row">
        <ul class="list-unstyled">
          <li>Caixa Econômica Federal</li>
          <li>Código banco: 104</li>
          <li>Poupança</li>
          <li>Ag. 0345</li>
          <li>CP. 01043-8</li>
          <li></li>
        </ul>
        <ul class="list-unstyled">
          <li>Banco Itaú</li>
          <li>Código banco: 341</li>
          <li>Corrente</li>
          <li>Ag. 8050</li>
          <li>CC. 23838-8</li>
          <li></li>
        </ul>
        <ul class="list-unstyled">
          <li>Banco Bradesco</li>
          <li>Código banco: 237</li>
          <li>Poupança</li>
          <li>Ag. 6339</li>
          <li>CP. 1001424-7</li>
          <li></li>
        </ul>
        <ul class="list-unstyled">
          <li>Banco Santader</li>
          <li>Código banco: 033</li>
          <li>Poupança</li>
          <li>Ag. 0002</li>
          <li>CP. 60-042620-2</li>
          <li></li>
        </ul>
      </div>
      <div class="row"><h4 class="subtitulo">Caso deseje fazer a docação online</h4></div>
      <div class="row">
        <ul class="list-unstyled">
          <li>Façam suas contribuições mensais ou anuais.</li>
          <li>Você escolhe o valor , como quer e pode ajudar!</li>
          <li>Abaixo os links do Pagseguro com seus devidos valores fixos mensais que serão descontados de seus cartões de credito indefinidamente, até que decidam não mais doar.</li>
          <li>E pra quem quiser doar esporadicamente , existe o botão DOAR NA PAGINA e clicando nele vc sera direcionado para a pagina do Pagseguro e doara o quanto quiser sem a fixação mensal.</li>
          <li>Contribua mensalmente com pelo menos R$ 15,00!</li>
          <li>BORA AJUDAR?????</li>
        </ul>
      </div>
      <div class="row">
        <div class="subtitulo">
          <button mat-fab color="accent" (click)="doar15()">R$ 15</button>
          <button mat-fab color="accent" (click)="doar20()">R$ 20</button>
          <button mat-fab color="accent" (click)="doar25()">R$ 25</button>
          <button mat-fab color="accent" (click)="doar30()">R$ 30</button>
          <button mat-fab color="accent" (click)="doar35()">R$ 35</button>
          <button mat-fab color="accent" (click)="doar40()">R$ 40</button>
          <button mat-fab color="accent" (click)="doar45()">R$ 45</button>
          <button mat-fab color="accent" (click)="doar50()">R$ 50</button>
        </div>
      </div>
    </div>
  </div>
</div>
