<div class="container">
  <div class="row">
    <a routerLink="/administracao">
      <mat-icon>arrow_left_arial</mat-icon> Voltar
    </a>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6">
      <mat-form-field>
        <input matInput placeholder="Pesquisar animais" [(ngModel)]="nomeAnimal" />
      </mat-form-field>
      <button mat-button color="accent" (click)="pesquisar()">Pesquisar</button>
      <button mat-button color="primary" (click)="limparPesquisa()">Limpar pesquisa</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4" *ngFor="let animal of animais">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{animal.nomeAtual}}</mat-card-title>
          <mat-card-subtitle>{{animal.raca}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-header src="{{animal.pathFoto}}" alt="{{animal.nomeAtual}}}" />
        <mat-card-actions>
          <button mat-button (click)="openInteressados(animal)">Interessados</button>
          <button mat-button (click)="openEditarAnimal(animal)">Editar</button>
          <button mat-button (click)="desativar(animal)" *ngIf="animal.ativo === 1">Desativar</button>
          <button mat-button (click)="ativar(animal)" *ngIf="animal.ativo === 0">Ativar</button>
          <button mat-button color="warn" (click)="excluir(animal)">Excluir</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>