<div class="container">
  <div class="row"><label class="titulo">Adote um animal e seja mais feliz</label></div>
  <hr />
  <div class="row">
    <div class="col-12 col-md-4" *ngFor="let animal of animais">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{animal.nomeAtual}}</mat-card-title>
          <mat-card-subtitle>{{animal.raca}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-header src="{{animal.pathFoto}}" alt="{{animal.nomeAtual}}}" />
        <mat-card-content>
          <mat-list role="list">
            <mat-list-item role="listitem">Sexo: {{KdSexo[animal.sexo]}}</mat-list-item>
            <mat-list-item role="listitem">Idade: {{animal.idade}}</mat-list-item>
            <mat-list-item role="listitem">Castrado: {{KdAtivo[animal.castrado]}}</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="openFormulario(animal)">Adotar</button>
          <button mat-button (click)="openDetalhes(animal)">Detalhes</button>
          <button mat-button color="accent">Compartilhar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
